body {
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  background-color: #ffffff;
}

.navbar {
}

h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 28px;
  font-weight: 600;
}

h3 {
  margin-top: 56px;
  font-family: "Lucida Grande",Arial,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
}

a:link {
  text-decoration: none;
  color: black;
}

.content-layout p {
  margin-top: 30px;
  font-size: 21px;
  font-family: Georgia, serif;
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
}

.content-layout {
  width: 700px;
  margin: 0 auto;
}

.article-image {
  margin: auto;
}

.article-feed {
  margin-top: 20px;
}

.article-listitem {
  padding: 15px;
  margin-bottom: 20px;
}

.article-listitem-author {
  color: rgba(0,0,0,.5);
}

.article-listitem-panel {
  margin-top: 20px;
}

.article-listitem-views {
  color: rgba(0,0,0, .5);
}

.button-love {
  display: inline-block;
  position: relative;
  padding: 0;
  background: rgba(0, 0, 0, 0);
  margin-right: 4px;
  border: none;
  outline: none;
}

.button-love-text {
  color: rgba(0,0,0,.3);
  display: inline-block;
  position: relative;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  pointer-events: none;
  padding: 0;
}
